header{
    display: flex;
    justify-content: space-between;
    background-color: #3A919D;
    border-bottom: 10px solid #000;   
    padding: 10px 20px ;
}

nav{
    text-align: right;
}

/* header-text */
a {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

/* quadrado do lado do texto */
a:before{
    content:"";
    background-color: #EB6860;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

/* backgrouund */
#button {
    display: inline-block;
    background-color: #EB6860;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;   
    box-shadow: 5px 5px 0 #000;
    margin-right: 0;
    transition: transform 100ms ease-in-out;
}

#button:hover{
    display: inline-block;
    background-color: #7C5E99;
    transform: scale(1.05);
}

div{
    background-color: #3A4042;
    width: 627px;
    height: 184px;
    margin-left: 91px;
    margin-top: 196px;
    box-shadow: 10px 10px 0px;
    font-family: "Press Start 2P";
}

h1{
    padding-top: 42px;
    margin-right: 54px;
    margin-left: 53px;
    font-size: 40px;
    line-height: 40px;
    color: #EB6860;
    text-shadow: 4px 4px 0px #000;
}

h2{
    margin-right: 47px;
    padding-bottom: 44px;
    margin-left: 40px;
    font-size: 30px;
    line-height: 30px;
    color: #FFF;
    text-shadow: 4px 4px 0px #000;
}
