header{
    display: flex;
    justify-content: space-between;
    background-color: #3A919D;
    border-bottom: 10px solid #000;   
    padding: 10px 20px ;
}

nav{
    text-align: right;
}

/* header-text */
a {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

/* quadrado do lado do texto */
a:before{
    content:"";
    background-color: #EB6860;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

/* backgrouund */
#button {
    display: inline-block;
    background-color: #EB6860;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;   
    box-shadow: 5px 5px 0 #000;
    margin-right: 0;
}

#button:hover{
    display: inline-block;
    background-color: #7C5E99;
    zoom: 101%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0%;
}