#button {
    display: inline-block;
    background-color: #EB6860;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;   
    box-shadow: 5px 5px 0 #000;
    margin-right: 0;
    transition: transform 100ms ease-in-out;
}

#button:hover{
    display: inline-block;
    background-color: #7C5E99;
    transform: scale(1.05);
}