.button {
    display: inline-block;
    background-color: #EB6860;  
    box-shadow: 5px 5px 0 #000;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 100ms ease-in-out;
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
}

.button:hover{
    display: inline-block;
    background-color: #7C5E99;
    transform: scale(1.05);
}